<template>
  <div>
    <v-card>
      <v-row>
        <v-card-title>
          list of funds
          <v-spacer></v-spacer>
        </v-card-title>
        <v-row>
          <v-col cols="4" sm="4" md="4">
            <v-autocomplete
              label="Fillter"
              @change="changeSort(results)"
              :items="sorting"
              v-model="results"
            >
            </v-autocomplete>
          </v-col>
          <v-divider></v-divider>
          <v-col cols="6" sm="4" md="6" v-if="results === 'Day'">
            <v-select
              :items="dataDate"
              @change="formatDays(DataDays)"
              label="Days"
              v-model="DataDays"
            ></v-select>
          </v-col>

          <v-col cols="6" sm="4" md="6" v-if="results === 'Month'">
            <v-select
              :items="monthData"
              @change="formatMonth(DataMonth)"
              label="Month"
              v-model="DataMonth"
            ></v-select>
          </v-col>

          <v-col
            cols="6"
            sm="4"
            v-if="results === 'Search' || results === 'GetAll'"
          >
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-col>

          <v-spacer></v-spacer>
        </v-row>
      </v-row>
      <v-data-table
        :headers="headers"
        :items="filteredItems"
        :search="search"
        :custom-sort="customSort"
      >
        <template v-slot:[`item.nav_date`]="{ item }">
          <div>
            <td>{{ formatDate(item.nav_date) }}</td>
          </div>
        </template>

        <template v-slot:[`item.nav`]="{ item }">
          <div>
            <td>{{ item.nav }}</td>
          </div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>


<script>
import moment from "moment";

export default {
  data() {
    return {
      search: "",
      minDate: "",
      maxDate: "",
      DataDays: "",
      DataMonth: "",
      date: [],
      menu: false,
      results: "",
      sorting: ["Day", "Month", "Search", "GetAll"],
      dataTable: [],
      dataDate: [],
      dateRange: [],
      headers: [
        { text: "Name", value: "thailand_fund_code" },
         { text: "Rank ", value: "nav_return" },
        { text: "Updated date", value: "nav_date" },
        { text: "Performance ", value: "nav_return" },
        { text: "Price(฿) ", value: "nav" },
      ],
    };
  },

  created() {
    this.getApi();

   
  },

  computed: {
    dateRangeText() {
      return this.date.join(" - ");
    },

    filteredItems() {
      return this.dataTable.filter((i) => {
        return !this.nav_date || i.type === this.nav_date;
      });
    },
  },

  methods: {
    formatDays(value) {
      var e = moment(value, "DD-MM-YYYY").format("YYYY-MM-DD");
      this.search = this.sortTable(e);
    },
    formatMonth(value) {

      var e = moment(value, "MM-YYYY").format("YYYY-MM");

      this.search = e;
    },

    changeSort(value) {

      if (value === "GetAll") {
        this.getApi();
        this.search = "";
        this.DataDays = "";
      }

      if (value === "Month") {
        this.search = "";
        this.DataMonth = "";
      }

      if (value === "Search") {
        this.DataDays = "";
        this.search = "";
      }
    },
    customSort(items, index, isDesc) {
      items.sort((a, b) => {
        if (isDesc != "false") {
          return a[index] < b[index] ? -1 : 1;
        } else {
          return b[index] < a[index] ? -1 : 1;
        }
      });
      return items;
    },
    revertDate(value) {
      return moment(value).toISOString(true);
    },
    formatDate(value) {
      return moment(value).format("DD-MM-YYYY");
    },

    sortTable(value) {
      var str = moment(value).format("YYYY-MM-DD" + "T00:00:00.000Z");
      var substr = str.substring(23, 0);
      return substr;
    },


    getApi() {
      var arr = [];
      var localDate = [];
      this.axios
        .get(process.env.VUE_APP_API + "/set")
        .then((res) => {
          var data = res.data.data;
          this.dataTable = res.data.data;

          for (const [key, value] of Object.entries(data)) {
            key;

            arr.push(value.nav);
            localDate.push(this.formatDate(value.nav_date));
          }
          var unique = (src) => [...new Set(src)];

          var fillterDate = unique(localDate);
          this.dataDate = fillterDate;
          var monthData = [];
          for (const [key, value] of Object.entries(this.dataDate)) {
            key;
           (value, "month");
            monthData.push(value.substring(3, 10));
            var duplicateMonth = unique(monthData);
            this.monthData = duplicateMonth;
          }
         (this.monthData, "sss");


          this.minDate = this.dataDate.reduce(function (a, b) {
            return a < b ? a : b;
          });
          this.maxDate = this.dataDate.reduce(function (a, b) {
            return a > b ? a : b;
          });

          var maxFomat = moment(this.maxDate).format("YYYY-MM-DD");

         (maxFomat, "maxDate");
          this.maxDate = maxFomat;

          var minFomat = moment(this.minDate).format("YYYY-MM-DD");

         (minFomat, "maxDate");
          this.maxDate = minFomat;

          var max_of_array = Math.max.apply(Math, arr);
          var min_of_array = Math.min.apply(Math, arr);

          for (const [key, value] of Object.entries(data)) {
            key;
            if (max_of_array === value.nav) {
             (value);
            }

            if (min_of_array === value.nav) {
             (value);
            }
          }
        })
        .catch((err) => {
          console.error(err, "err");
        });
    },
  },
};
</script>