<template>
  <v-app-bar class="main-header" height="52" fixed color="#42A5F5" dark>
    <v-btn icon class="mx-1" @click.stop="TOGGLE_DRAWER">
      <template v-if="DRAWER_STATE">
        <v-icon style="font-size: 28px">mdi-arrow-left</v-icon>
      </template>
      <template v-else>
        <v-icon style="font-size: 28px">mdi-menu</v-icon>
      </template>
    </v-btn>
    <v-toolbar-title> Fund application</v-toolbar-title>
    <v-spacer></v-spacer>

    <v-menu max-width="280" offset-y bottom nudge-bottom="10" left> </v-menu>
   
  </v-app-bar>
</template>

<script>
import { mapActions, mapState } from "vuex";
import config from "../../config";

export default {
  name: "Header",

  data: () => ({
    config,
    searchCollapse: true,

    account: [
      // { text: "Profile", icon: "mdi-account", color: "textColor" }
    ],
    notificationsBadge: true,
    messageBadge: true,
  }),
  computed: {
    ...mapState(["drawer"]),
    DRAWER_STATE: {
      get() {
        return this.drawer;
      },
    },
  },
  created() {
    var xxx = window.localStorage.getItem("authenticated");
    if (xxx === "false") {
      this.$router.push("/login");
    }

    if (xxx == "false") {
      console.log("exit");
    }
  },
  methods: {
    ...mapActions(["TOGGLE_DRAWER"]),
    logOut: function () {
      console.log("logout");
      // window.localStorage.remove("authenticated");
      this.$ls.remove("authenticated");
      this.$router.push("/login");
    },
  },
};
</script>

<style src="./Header.scss" lang="scss"></style>
