<template>
  <div>
    <div>
      <v-navigation-drawer
        app
        style="z-index: 9998"
        clipped
        v-model="DRAWER_STATE"
        :mini-variant="!DRAWER_STATE"
        :width="sidebarWidth"
        :permanent="$vuetify.breakpoint.mdAndUp"
        :temporary="$vuetify.breakpoint.smAndDown"
        :mini-variant-width="sidebarMinWidth"
        :class="{ 'drawer-mini': !DRAWER_STATE }"
      >
        <v-list> </v-list>

        <!-- < -->
        <v-list>
          <template v-for="(item, i) in items1">
            <v-row v-if="item.heading" :key="item.heading" align="center">
              <v-col cols="6">
                <span
                  style="padding-left: 32px"
                  class="text-body-1 subheader"
                  :class="item.heading && DRAWER_STATE ? 'show ' : 'hide'"
                >
                  {{ item.heading }}
                </span>
              </v-col>
              <v-col cols="6" class="text-center"> </v-col>
            </v-row>
            <v-divider
              v-else-if="item.divider"
              :key="i"
              dark
              class="my-4"
            ></v-divider>
            <v-list-group
              color="primary"
              v-else-if="item.children && DRAWER_STATE"
              :key="item.title"
              v-model="item.model"
              append-icon=""
            >
              <template v-slot:prependIcon>
                <v-icon size="28">mdi-cog</v-icon>
              </template>
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title class="grey--text">
                    {{ item.title }}
                  </v-list-item-title>
                </v-list-item-content>
              </template>
              <v-list-item
                v-for="(child, i) in item.children"
                :key="i"
                :to="child.link"
                link
              >
                <v-list-item-action v-if="child.icon">
                  <v-icon size="">{{ child.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title class="grey--text">
                    {{ child.title }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-group>
            <v-list-item
              color="primary"
              v-else
              :key="item.text"
              :to="item.link === '#' ? null : item.link"
              link
            >
              <v-list-item-action>
                <v-icon size="28" :color="item.color ? item.color : ''">{{
                  item.icon
                }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="grey--text" link>
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
      </v-navigation-drawer>

      <!-- asset dialog -->

      <!-- end -->
    </div>
  </div>
</template>

<script>
// import XLSX from "xlsx"; // import xlsx
import { mapActions, mapState } from "vuex";
// import swal from "sweetalert";

export default {
  props: {
    source: String,
  },
  data() {
    return {
      dept: "",
      valid1: true,
      valid: true,
      floor_id: "",
      sort: "",
      // test docker
      // ------------------floor ----------
      id_building: "",

      data_floor: [],
      // ----------------------------------
      // data dialog manage building----------------------------------------------------------------
      dialogDelete: false,
      dataFull: [],
      delete_building: "",
      insert_building: "",
      building_id: "",
      expanded: [],
      editedItem: {
        building_name: "",
      },
      editedIndex: -1,
      dialog_sub: false,
      dialog_building: false,

      value1: [],
      fillter: [],
      group: null,
      selectedAsset: null,
      selectedItem: null,
      dialog: false,
      dialog1: false,
      notifications: false,
      sound: true,
      widgets: false,
      search: "",

      items1: [
        {
          title: "dashboard     ",
          icon: "mdi-folder",
          link: "/dashboard",

          model: false,
          children: [
            // { title: "dashboard     ", icon: "mdi-folder", link: "/dashboard" },
          ],
        },
      ],

      sidebarWidth: 200,
      sidebarMinWidth: 0,

      // mock data
    };
  },

  watch: {
    filterSearch(val) {
      this.filters = this.$MultiFilters.updateFilters(this.filters, {
        search: val,
      });
    },

    dialog_sub(val) {
      val || this.close();
    },

    dialog_sub_Delete(val) {
      val || this.closeDelete();
    },
  },

  created() {
  },
  computed: {
    ...mapState(["drawer"]),
    DRAWER_STATE: {
      get() {
        return this.drawer;
      },

      set(newValue) {
        if (newValue === this.drawer) return;
        this.TOGGLE_DRAWER();
      },
    },
  },
  methods: {
    ...mapActions(["TOGGLE_DRAWER"]),
    tototo(val) {
      this.$store.commit("up", val);
    },
  },
};
</script>

<style src="./Sidebar.scss" lang="scss"/>
